*{
    font-family: 'Roboto', sans-serif;
}

.hidden, .signup-submit {
    display: none;
}

.new_button {
    padding: 10px;
    display: inline;
}

.signup-container {
    display: block;
}

.s-button {
    height: auto;
}

.login_container{
    position: relative ;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    overflow: hidden;
}

.forms_container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.signin_form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin_form h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input_field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0 0.4rem;
    position: relative;
}

.input_field input{
background: none;
line-height: 1;
font-weight: 500;
color: #028ed9;
padding: 10px;
font-size: 1.1rem;
width: max-content;
}

.input_field ::placeholder{
    opacity: 0.4;
    font-weight: 400;
}

button{
    width: 150px;
    height: 49px;
}
