.account-wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.update-info {
  padding: 40px;
}

.update-form {
  align-items: center;
}

.info {
  color: rgb(41, 64, 109);
  align-items: center;
}

.account_info {
  text-align: center;
  color: rgb(23, 44, 86);
  background: linear-gradient(
    90deg,
    rgba(131, 211, 255, 1) 27%,
    rgba(0, 165, 255, 1) 100%
  );
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}

.account-wrapper h2{
  text-align: center;
  color: rgb(23, 44, 86);
  background: linear-gradient(
    90deg,
    rgba(131, 211, 255, 1) 27%,
    rgba(0, 165, 255, 1) 100%
  );
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}

.username,
.email {
  border-width: 10px;
  outline: auto;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 300;
  padding: 3px;
  color: rgb(13, 30, 40);
  text-align: center;
}

.d-button, .update-button {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(131, 211, 255, 1) 27%,
    rgba(0, 165, 255, 1) 100%
  );
}

.update, .delete-button {
  padding: 10px;
  float: center;
}