*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.wrapper {
  padding: 20px;
}

h1{
  background: -webkit-linear-gradient(left, rgb(173, 231, 254), rgb(18, 77, 188));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header{
  text-align: center;
}

hr { 
  color: #f2f2f2;
 }

 .container{
   justify-content: space-around;
   align-items: center;
 }

 .scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.gradient_bg{
  background:-moz-linear-gradient(90deg, rgba(33, 150, 243, 1) 0%, rgba(0, 188, 212, 1) 25%, rgba(55, 234, 137, 1) 99%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(33, 150, 243, 1) 0%, rgba(0, 188, 212, 1) 25%, rgba(55, 234, 137, 1) 99%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(33, 150, 243, 1) 0%, rgba(0, 188, 212, 1) 25%, rgba(55, 234, 137, 1) 99%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37EA89', endColorstr='#2196F3', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(33, 150, 243, 1) 0%, rgba(0, 188, 212, 1) 25%, rgba(55, 234, 137, 1) 99%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(33, 150, 243, 1) 0%, rgba(0, 188, 212, 1) 25%, rgba(55, 234, 137, 1) 99%);
}
